<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartAttendance</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ServertMarkin.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Markout</display-name>
    <servlet-name>Markout</servlet-name>
    <servlet-class>ServertMarkin.Markout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Markout</servlet-name>
    <url-pattern>/Markout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MacidCheck</display-name>
    <servlet-name>MacidCheck</servlet-name>
    <servlet-class>ServertMarkin.MacidCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MacidCheck</servlet-name>
    <url-pattern>/MacidCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarkinServlet</display-name>
    <servlet-name>MarkinServlet</servlet-name>
    <servlet-class>ServertMarkin.MarkinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkinServlet</servlet-name>
    <url-pattern>/MarkinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarkoutServlet</display-name>
    <servlet-name>MarkoutServlet</servlet-name>
    <servlet-class>ServertMarkin.MarkoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkoutServlet</servlet-name>
    <url-pattern>/MarkoutServlet</url-pattern>
  </servlet-mapping>
</web-app>